html,
body {
    background-color: #ede6e9;
    font-family: 'Montserrat', sans-serif;
    height:100%;
}

section {
    height: 100vh;
    overflow:hidden;
}
section.long {
    height: auto;
    overflow:hidden;
}
.top-spacing {
    padding-top:40px;
}
.full-height {
    height:100vh;
}

.navbar-brand img {
    width: 40px;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-weight:100;
    font-size:14px;
    line-height:20px;
    margin-left: 18px;
}
p.long-text {
    font-family: 'Montserrat', sans-serif;
    
    letter-spacing: 0.2px;
    font-weight:100;
    line-height:28px;
    font-size:16px;
    margin-top: 28px;
    margin-right: 28px;
    margin-left: 28px;
    margin-bottom: 14px;
}
h3 {
    margin-left:8px;
}
section ul {
    margin-top:0px;
    margin-left:32px;
}

section ul li{
    font-family: 'Montserrat', sans-serif;
    font-weight:100;
    letter-spacing: 0.2px;
    line-height:28px;
    line-height:32px;
    font-size:16px;
    color: #403d3d;
}

.invisible-anchor {
    display:block;
    overflow:hidden;
    
    height:0px;
    width:0px;
}

section.framed {
    border-top:3px solid rgb(0, 147, 81);
    border-bottom:3px solid rgb(0, 147, 81);
}

nav {
    position: fixed;
}
.navbar {
    background-color: transparent;
}
#scrollr-body {
    
}
.container .first {
    margin-top: 90px;
    height:50vh;
}
.trexit-main-buttons {
    height:50vh;
}

.logo-col {
    position: static;
}

.trexit-logo.logo-right {
    height:300px;
}

.trexit-logo.logo-left {
    position:relative;
    height:300px;
}

.trexit-button {
    display:block;
    width:100%;
    height:100px;
    -webkit-border-radius:8px;
    cursor:pointer;
    background-position: center 80px;
    background-repeat: no-repeat;
    -webkit-transition: all 300ms;
}



.trexit-button:hover {
    height:130px;
    color:#ede6e9;
    background-image: url(../img/arrow_down.svg);
}


.trexit-button span {
    display:inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight:100;
    margin:18px 22px;
    font-size:14px;
    letter-spacing:1px;
    text-transform:uppercase;
}

.troll-color {
    background-color: rgb(0, 147, 81);
    color:  rgb(229, 201, 166);
}

.troll-color .long-text {
    color:#ede6e9;
}

.human-color {
    background-color: rgb(229, 201, 166);
    color: rgb(0, 147, 81);
}

.human-color .long-text {
    color: #403d3d;
}

.no-bottom-margin {
    margin-bottom:10px;
    -webkit-margin-after: 0em;
}